extends layout

block content
  div.card.my-3.border.border-dark
    div.card-body
      h1.card-title #{schedule.scheduleName}
      h5.card-text #{schedule.description}
      - var isMine = parseInt(user.id) === schedule.createdBy
      if isMine
        div.pt-3
          button(type="button", data-toggle="modal", data-target="#deleteConfirmation").btn.btn-danger.mr-3 削除
          div(tabindex="-1", role="dialog", aria-labelledby="exampleModalCenterTitle", aria-hidden="true")#deleteConfirmation.modal.fade
            div(role="document").modal-dialog.modal-dialog-centered
              div.modal-content
                div.modal-header
                  h5#exampleModalCenterTitle.modal-title 確認
                  button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
                div.modal-body 本当に削除しますか？<br>この操作は取り消せません。
                div.modal-footer
                  button(type="button", data-dismiss="modal").btn.btn-secondary 戻る
                  form(method="post", action=`/schedules/${schedule.scheduleId}?delete=1`)
                    input(type="hidden" name="_csrf" value!=csrfToken)
                    button(type="submit").btn.btn-danger 削除
          a(href=`/schedules/${schedule.scheduleId}/edit`).btn.btn-primary.mr-3 編集
    div.card-footer.text-muted 更新日時: #{schedule.formattedUpdatedAt}
  h5.my-3 URLの共有
  div.input-group.mb-3
    input(type="text", value="", readonly)#current-url.form-control
    div.input-group-append
      button(type="button")#copy-button.btn.btn-outline-secondary Copy
  table.table.table-hover
    tr
      th 日程
      each user in users
        th #{user.userName}
    each date in dates
      tr
        td #{date.date}
        each user in users
          - var availability = availabilityMapMap.get(user.userId).get(date.dateId)
          - var availabilityLabels = ['×', '?', '✓']
          - var buttonStyles = ['btn-danger', 'btn-secondary', 'btn-success']
          td
            if user.isSelf
              button(class=`availability-toggle-button btn-lg ${buttonStyles[availability]}`
                data-schedule-id=schedule.scheduleId
                data-user-id=user.userId
                data-date-id=date.dateId
                data-availability=availability) #{availabilityLabels[availability]}
            else
              h3 #{availabilityLabels[availability]}
