extends layout

block content
  h3.my-3 #{schedule.scheduleName}
  h5.my-3 #{schedule.description}
  table.table.table-hover
    tr
      th 日程
      each user in users
        th #{user.username}
    each date in dates
      tr
        td #{date.date}
        each user in users
          td 〇
  - var isMine = parseInt(user.id) === schedule.createdBy
  if isMine
    div
      a(href=`/schedules/${schedule.scheduleId}/edit`).btn.btn-info.my-3 編集